body {
    background-image:url("../Bilder/Leopard.jpg");
    background-size:cover;
 }

h1{
font-size: 68px;
color:rgb(0, 255, 0);
text-align: center;
background-color:rgb(255, 0, 255);
height: 120px;
margin: 0;
border: 0px;}
